.itemInfoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.itemTable {
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  border-spacing: 0px 16px;
  padding: 0px 60px;
}

.itemSeparator {
  border-right: 1px solid #ccc9c6;
}

.itemButtonBlock {
  padding: 0 0 0 0;
}
