.header {
  max-width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  gap: 2rem;
}

.list a {
  text-decoration: none;
  color: burlywood;
}

.list a:hover,
.list a.active {
  color: chocolate;
}

.logoutButton {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background-color: #656360;
  color: #ccc9c6;
  border: none;
}
